<div class="input-search">
  <input
      type="text"
      (input)="getPokemon($any($event.target).value)"
      placehodler="Digite o pokemon que você procura..."
  >
</div>
<div class="card">

  <div class="card_title">
    <h3>{{ pokemon.name }}</h3>
  </div>

  <div class="card_body">
    <img
      [src]="pokemon.sprites.front_default"
      height="250"
      alt="pokemon"
      srcset=""
    >
  </div>

  <div class="card_stats">
    <span
      class="card_stats_type"
      *ngFor="let t of pokemon.types"
    >
      {{ t.type.name }}
    </span>

  </div>

</div>
